.env
.DS_Store
__pycache__/
*.pyc
*.log
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid
data/raw/
data/staging/
data/curated/
data/quarantine/
data/source/*.csv
data/minio/
backups/
trino/data/
lakehouse-new-submission.tar.gz
submission/
docker/hive/jars/*.jar
